 /* .main-photo{
   background-color: orange;
  grid-row: 3 / span 1;
   grid-column: 2 / span 1;
 } */

 .photo{
  background-image: url('/img/wild_flowers.png');
  /* background-color: orange; */
 grid-area: photo;
}