/* .tips-div{
   background-color: yellow;
   grid-row: 4 / span 2;
 } */

 .empty-tips{
  background-image: url('/img/full-bloom.png');
  /* background-color: yellow; */
  grid-area: empty-tips;
  overflow: scroll;
}

h4{
  text-align: justify;
}
.plant-tips{
  text-align: justify;
}