/* .forum{
   background-color: skyblue;
  grid-row: empty-div-one-start / empty-div-two-start;
   grid-column: col-end / grid-end;
 } */

 .forum{
  background-image: url('/img/full-bloom.png');
  /* background-color: skyblue; */
  grid-area: forum;
}