/* .footer{
   background-color: orangered;
   grid-row: 6 /7;
   grid-column: 2 / -1;
 } */

 .footer{
  background-image: url('/img/wild_flowers.png');
  /* background-color: orangered; */
  grid-area: footer; 
}