/* .garden-tips{
  background-color: yellow;
 grid-row: 2 / span 2;
} */

.garden-tips{
  background-image: url('/img/full-bloom.png');
  /* background-color: yellow; */
  grid-area: garden-tips;
}

a { color: inherit; } 

ul{
  list-style-type: none;
  display: inline-grid;
}

.btn{
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  background-color: blanchedalmond;
  font-style: 16px;
  font-weight: bold;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px;
  border-radius: 20px;
  box-shadow: 0 6px #5f5f5e;
  margin: auto;
  align-content: center;
  text-align: center;
  /* padding-bottom: 0px; */
  
}

.btn:hover {
box-shadow: 0 4px #5f5f5e;
top: 2px;
}

.btn:active {
box-shadow: 0 0px #5f5f5e;
top: 6px;
}


.container-for-menu {
  position: relative;
  display: inline-block;
}
.button-for-menu {
  padding: 0;
  width: 50px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 40px;
}
