.banner{
  background-image: url('/img/bird_bloom_blossom_field_flora_606388.jpg');
  background-size: 100%;
  background-position: center center;
  /* background-color: pink; */
  grid-area: banner; 
}